version: "3.5"
services:
  db:
    image: postgres:10.1-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: hangman
      POSTGRES_PASSWORD: hangman
      POSTGRES_DB: hangman

  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "${ASPNETCORE_SOCKET_BIND_PORT}:${ASPNETCORE_SOCKET_BIND_PORT}"
    depends_on:
      - db
      - es
    command:
      [
        "./wait-for-it.sh",
        "db:5432",
        "-t",
        "120",
        "--",
        "./wait-for-it.sh",
        "es:9200",
        "-t",
        "120",
        "--",
        "./start-from-compose.sh",
      ]
  
  # ELK stack
  # warning: ES is fine, but kibana/logstash are VERY slow to boot
  es:
    build:
      context: elk/elasticsearch/
      args:
        ELK_VERSION: 7.8.0
    volumes:
      - type: bind
        source: ./elk/elasticsearch/config/elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
        read_only: true
      - type: volume
        source: elasticsearch
        target: /usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xms256m -Xmx512m"
      ELASTIC_PASSWORD: elastic
      discovery.type: single-node
 
  logstash:
    build:
      context: elk/logstash/
      args:
        ELK_VERSION: 7.8.0
    volumes:
      - type: bind
        source: ./elk/logstash/config/logstash.yml
        target: /usr/share/logstash/config/logstash.yml
        read_only: true
      - type: bind
        source: ./elk/logstash/pipeline
        target: /usr/share/logstash/pipeline
        read_only: true
    ports:
      - "5000:5000/tcp"
      - "5000:5000/udp"
      - "9600:9600"
    environment:
      LS_JAVA_OPTS: "-Xms256m -Xmx512m"
    depends_on:
      - es

  kibana:
    build:
      context: elk/kibana/
      args:
        ELK_VERSION: 7.8.0
    volumes:
      - type: bind
        source: ./elk/kibana/config/kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true
    ports:
      - "5601:5601"
    depends_on:
      - es

volumes:
  elasticsearch:
    name: elasticsearch